
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

input,
button,
select {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  min-width: 1366px;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: #565c66;
  background-color: #feafc3;

  display: flex;
  flex-flow: column wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li[class] {
  display: flex;
}

.section-text {
  font-size: 36px;
  line-height: 1.28;
  font-weight: 900;
  color: #2d3440;

  margin: 0;
}

.section-text-two {
  font-size: 32px;
  line-height: 1.44;
  font-weight: 900;
  color: #2d3440;
  text-align: center;

  margin: 0;
}

.section-text-three {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  color: #2d3440;

  margin: 0;
}

/* button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fcfcfc;
  font-weight: 700;
  line-height: 1.25;
  font-size: 16px;
  text-decoration: none;

  padding: 12px 32px;
  border: none;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
  color: #2d3440;
  transition-duration: 0.2s;
}

.button:active {
  background-color: #feafc3;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2d3440;
  transition-duration: 0;
}

.button:focus {
  background-color: #ff2f64;
  box-shadow: none;
  outline: 2px solid #2d3440;
}

.button:disabled {
  color: #565c66;

  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.another-button {
  color: #2d3440;

  background-color: #ffffff;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.another-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #ffffff;
  transition-duration: 0.2s;
}

.another-button:active {
  background-color: #ffffff;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.another-button:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.another-button:disabled {
  color: #b9b9b9;
  background-color: #e7e7e7;
  outline: 2px solid rgba(252, 252, 252, 0.4);
  box-shadow: none;
}

/* header */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  margin: 0 auto;
  padding: 24px 98px;
  width: 1366px;
}

.header__column {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo__link:hover {
  filter: opacity(0.8);
  transition-duration: 0.2s;
}

.header__logo__link:focus {
  outline: 2px solid #2d3440;
}

.header__logo__link:active {
  filter: opacity(0.6);
  outline: none;
}

.header__nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;

  list-style-type: none;

  padding: 0;
  margin: 0;
}

.header__nav__item {
  display: flex;
  position: relative;
}

.header__nav__link {
  text-decoration: none;
  color: #2d3440;
  line-height: 1;

  border: none;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 30px;
}

.header__nav__item:first-child .header__nav__link {
  padding-right: 38px;
}

.header__nav__item:first-child::after {
  content: "";

  position: absolute;
  width: 16px;
  right: 16px;
  top: 50%;
  translate: 0 -50%;

  aspect-ratio: 1;
  background-image: url("/img/svg/header/select.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__nav__link:hover,
.user-list__button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  transition-duration: 0.2s;
}

.header__nav__item:focus-within .nav__inner-list {
  display: flex;
}

.header__nav__item:focus-within::after {
  rotate: 180deg;
}

.header__nav__item:focus-within .header__nav__link {
  background-color: #ff4f78;
  outline: none;
}

.header__nav__item:focus-within .header__nav__link:hover {
  filter: opacity(0.6);
}

.header__nav__item:focus-within .header__nav__link:focus {
  outline: 2px solid #2d3440;
}

/* .header__nav__item:focus-within .header__nav__link:active {
  filter: opacity(0.3);
} */

.header__nav__item > .header__nav__link:focus,
.user-list__button:focus {
  outline: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.header__nav__link:active,
.user-list__button:active {
  background-color: rgba(252, 252, 252, 1);
  outline: none;
}

.header__user-list {
  display: flex;
  gap: 20px 16px;
  list-style-type: none;
  align-items: center;

  font-size: 14px;
  line-height: 1.43;

  padding: 0;
  margin: 0;
}

.nav__inner-list {
  display: none;
  flex-flow: column wrap;
  position: absolute;
  top: 43px;
  z-index: 100;

  background-color: #fcfcfc;
  padding: 0;
  padding-block: 4px 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  border-radius: 4px;

  list-style-type: none;
}

.inner-item__link {
  font-size: 14px;
  text-decoration: none;
  color: #2d3440;
  line-height: 1.43;

  display: flex;
  align-items: center;
  width: 135px;
  padding-block: 6px;
  padding-inline: 16px 12px;
}

.inner-item__link:hover {
  background-color: #ffcbd8;
  transition-duration: 0.2s;
}

.inner-item__link:focus {
  background-color: #ff7799;
  outline: none;
}

.inner-item__link:active {
  background-color: #ff4f78;
}

.inner-link--special {
  position: relative;

  font-weight: 900;

  padding-block: 12px;
  margin-bottom: 4px;
}

.inner-link--special::after {
  content: "";

  position: absolute;
  left: 16px;
  bottom: 0;
  right: 16px;
  height: 2px;

  background-color: #b9b9b9;
}

.header__phone {
  font-weight: 700;
  text-decoration: none;
  color: #2d3440;
  line-height: 1.25;

  padding: 5px;
  border-radius: 10px;
  margin-right: -5px;
}

.header__phone:hover {
  filter: opacity(0.8);
  transition-duration: 0.2s;
}

.header__phone:focus {
  outline: 2px solid #2d3440;
}

.user-list__button {
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  background-repeat: no-repeat;
  padding: 0;

  position: relative;
}

.user-list__item {
  position: relative;
}

.user-list__item:first-child .user-list__button {
  min-width: 32px;
  aspect-ratio: 1;
  background-image: url("/img/svg/header/search.svg");
  background-position: 50%;
  border-radius: 50%;
}

.user-list__item:not(:first-child) .user-list__button {
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
  background-position: 16px 50%;
}

.user-list__item:nth-child(2) .user-list__button {
  background-image: url("/img/svg/header/sign-up.svg");
}

.user-list__item:last-child .user-list__button {
  background-image: url("/img/svg/header/cart.svg");
}

.user-list__item:focus-within .popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 100;

  display: flex;
  flex-flow: column wrap;
}

.popover {
  display: none;

  padding: 48px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.search__container {
  padding: 24px 16px;
}

.field {
  font-size: 16px;
  line-height: 1.25;
  min-width: 324px;
  padding: 14px 16px;
  box-shadow: 0 0 0 1px inset #b9b9b9;
  border: none;
  border-radius: 4px;
}

.field:hover {
  outline: 1px solid #2d3440;
}

.field:focus {
  outline: 2px solid #2d3440;
}

.field:active {
  filter: opacity(0.8);
}

.field:disabled {
  outline: 1px solid #b9b9b9;
  background-color: #e7e7e7;
}

.popover__title {
  color: #2d3440;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;

  margin: 0;
}

.sign-up__container {
  gap: 32px;
}

.popover__form {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.popover__inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin-block: 16px 4px;
  align-items: center;
}

.sign-up__container__links {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  gap: 4px;
}

.link {
  color: #2d3440;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;

  position: relative;
}

.link:hover {
  filter: opacity(0.8);
}

.link:focus {
  outline: 2px solid #2d3440;
}

.link:active {
  filter: opacity(0.6);
  outline: none;
}

.link::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -1px;
  left: 0;
  right: 0;

  background-color: #2d3440;
}

.cart__container {
  flex-flow: column wrap;
  gap: 32px;

  position: relative;
}

.cart__container::before {
  content: "";

  order: 1;
  height: 1px;
  left: 48px;
  right: 48px;
  background-color: #e7e7e7;
}

.cart__list {
  display: flex;
  flex-flow: column wrap;
  gap: 24px;

  list-style-type: none;

  padding: 0;
}

.cart__list .cart__list__item {
  display: grid;
  grid-template-columns: 46px 148px 87px min-content;
  grid-template-rows: min-content;
  gap: 16px;
  align-items: center;
}

.cart__item__title {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
  color: #2d3440;

  margin: 0;
  margin-bottom: 4px;
}

.cart__item__description {
  font-size: 14px;
  line-height: 1.43;
  color: #b9b9b9;
}

.cart__item__price {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
  color: #2d3440;
}

.cart__button-close {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/svg/header/close_button.svg");
  border: none;
  min-width: 16px;
  aspect-ratio: 1;
}

.cart__button-close:hover {
  filter: opacity(0.8);
}

.cart__button-close:focus {
  outline: 2px solid #2d3440;
}

.cart__button-close:active {
  filter: opacity(0.6);
}

.cart__inner-container {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__bill {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
  color: #2d3440;
}

/* products__main__gallery */

.main-site {
  display: grid;
  grid-template-columns: 1170px;
  gap: 80px;

  padding-inline: 98px;
  margin-inline: auto;
}

.main__products {
  display: flex;
  flex-flow: column wrap;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  gap: 46px;

  position: relative;
}

.product__column__description {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: start;
  gap: 24px;

  width: 430px;
  padding-top: 136px;
}

.product__description {
  font-size: 18px;
  line-height: 1.33;
  color: #2d3440;

  margin: 0;
  margin-bottom: 24px;
}

.product__column__photo {
  display: flex;
  flex-grow: 1;
}

.product__gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 75px;

  padding: 0;
  padding-top: 21px;
  margin: 0;
  list-style-type: none;
}

.product__gallery__item {
  position: relative;
  filter: opacity(0.4);
}

.product__gallery__item:not(.main__gallery__product) {
  translate: 0 5px;
}

.product__gallery__item:not(.main__gallery__product)::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  translate: 0 -50%;
  left: -17px;

  background-color: #ffcbd8;
  min-width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.main__gallery__product {
  filter: opacity(1);
}

.main__gallery__product::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100px;

  background-color: #ffcbd8;
  min-width: 327px;
  min-height: 312px;
  border-radius: 50%;
}

.product__gallery__slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: -18px;
  right: -18px;
  top: 237px;
  padding: 0;
  list-style-type: none;
}

.gallery__slider {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  aspect-ratio: 1;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.prev-slider .gallery__slider__icon {
  translate: -2px 0;
}

.next-slider .gallery__slider__icon {
  translate: 2px 0;
}

.gallery__slider__icon {
  fill: #fcfcfc;
}

.gallery__slider:hover {
  background-color: #fcfcfc;
  transition-duration: 0.2s;
}

.gallery__slider:hover .gallery__slider__icon{
  fill: #2d3440;
  transition-duration: 0.2s;
}

.gallery__slider:active {
  background-color: rgba(252, 252, 252, 0.5);
  transition-duration: 0s;
}

.gallery__slider:active .gallery__slider__icon{
  fill: #2d3440;
}

.gallery__slider:focus {
  outline: none;
  border: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  transition-duration: 0s;
}

.gallery__slider:focus .gallery__slider__icon{
  fill: #2d3440;
}

.gallery__slider:disabled {
  filter: opacity(0.4);
}

.products__buttons__container {
  display: flex;
  justify-content: space-between;
  gap: 300px;
}

.products__buttons__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  translate: -4px 8px;

  list-style-type: none;
}

.products__button {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
}

.products__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  translate: 0 -50%;

  width: 12px;
  aspect-ratio: 1;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.products__button--active::before {
  background-color: #fcfcfc;
}

.products__button:hover::before {
  box-shadow: 0 0 0 1px #fcfcfc inset;
}

.products__button:not(.products__button--active):active::before {
  background-color: rgba(252, 252, 252, 0.5);
}

.products__button:focus {
  outline: none;
}

.products__button:not(.products__button--active):focus::before {
  outline: none;
  background-color: #fcfcfc;
}

.social__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: -16px;
  translate: 8px -4px;

  list-style-type: none;
}

.social__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
}

.social__icon {
  position: relative;

  fill: #fcfcfc;
}

.social__link::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 5px rgba(252, 252, 252, 0.3);
}

.social__link:hover::before {
  background-color: #2d3440;
  transition-duration: 0.2s;
}

.social__link:active {
  filter: opacity(0.5);
}

.social__link:focus {
  outline: none;
}

.social__link:focus::before {
  background-color: #2d3440;
  box-shadow: 0 0 0 5px #2d3440;
}

/* gifts */

.main__gifts {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 55px;
}

.gifts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.main__gifts__column {
  display: grid;
  grid-template-columns: 1fr 219px;
  gap: 20px 0;

  background-color: #ff7799;

  border-radius: 16px;
}

.gifts__column__text {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  gap: 28px;

  padding: 36px 0 0 36px;
}

.gifts__conditions {
  font-size: 16px;
  line-height: 1.4;
  color: #2d3440;
  margin: 0;
}

/* ice-cream-taste */

.main__ice-cream-taste {
  display: flex;
  flex-flow: column wrap;
  gap: 107px;
}

.ice-cream-taste__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 30px;

  padding: 0;
  margin: 0;
}

.ice-cream-taste__item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 8px;

  position: relative;

  background-color: #fcfcfc;

  border-radius: 8px;
  padding: 133px 40px 24px 40px;
}

.ice-cream-taste__image {
  position: absolute;
  top: -51px;
}

.ice-cream-taste__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #2d3440;

  margin: 0;
}

.ice-cream-taste__description {
  font-size: 16px;
  line-height: 1.4;
  text-align: center;

  margin: 0;
  margin-bottom: 8px;
}

.ice-cream-taste__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  width: 100%;
}

.ice-cream-taste__price {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #2d3440;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 32px;
  aspect-ratio: 1;

  border: 0;
  border-radius: 50%;
  background-color: #ff2f64;
}

/* benefits */

.main__benefits {
  padding: 24px;
  border-radius: 16px;

  background-image: url("/img/png/main/benefit_back.jpg");
  background-repeat: repeat-y;
}

.benefits__container {
  display: flex;
  flex-flow: column wrap;
  gap: 56px;

  padding: 56px 40px;
  border-radius: 16px;

  background-color: #ffffff;
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;

  list-style-type: none;

  padding: 0;
  margin: 0;
}

.benefits__item {
  padding-left: 64px;
}

.benefits__item:first-child {
  background-image: url("/img/png/main/ice-cream_icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefits__item:nth-child(2) {
  background-image: url("/img/png/main/cow_icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefits__item:nth-child(3) {
  background-image: url("/img/png/main/sheet__icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefits__item:nth-child(4) {
  background-image: url("/img/png/main/therm_icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main__news__subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.news__column {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;

  padding: 32px;
  padding-right: 235px;
  border-radius: 16px;
  background-image: url("/img/jpg/main/news_back.jpg");
  background-repeat: no-repeat;
}

.subscribe__column {
  padding: 6px;
  background-image: url("/img/png/main/subscribe_back.png");
}

.subscribe__container {
  display: flex;
  flex-flow: column wrap;
  gap: 42px;

  padding: 26px;
  padding-bottom: 28px;
  border-radius: 16px;
  background-color: #ffffff;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.subscribe__field {
  min-width: 332px;
}
